* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #121212;
  --light-background-color: rgba(255, 255, 255, 0.12);
  --text-color: white;
  --accent-color: rgb(0, 238, 255);
  --url-color: rgb(251, 122, 255);
  --border-color: rgb(126, 126, 126);
  --error-color: rgb(255, 67, 67);
}

html {
  font-size: 62.5%; /* set REM unit to 10px instead of 16px --> 1rem = 16px */
}

/* font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap");

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Fira Sans", sans-serif;
  position: absolute;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  padding: 0;
  font-size: 1.7rem;
  overflow-x: hidden;
  padding: 1rem;
  display: grid;
}

a,
button {
  transition: all 0.2s ease;
}

a {
  color: var(--accent-color);
}

a:hover {
  opacity: 0.5;
}

h1 {
  margin: 2rem 0;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.warning {
  border: 1px solid var(--border-color);
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}

.detail {
  color: rgb(181, 255, 131);
}

span.url {
  color: var(--url-color);
}

ol {
  margin-top: 1rem;
  padding-left: 3rem;
}

li {
  margin: 0.4rem 0;
  padding: 0.4rem 0;
}

.form-fields {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.field {
  width: 100%;
}

label.error {
  color: var(--error-color);
}

label.error .hidden-error {
  color: var(--error-color);
  opacity: 0.7;
}

label .hidden-error {
  font-size: 1.4rem;
  transition: all 0.2s ease;
  opacity: 0;
  font-style: italic;
  pointer-events: none;
}

.field input {
  display: block;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: var(--light-background-color);
  color: var(--text-color);
  border-radius: 2px;
}

.field input#token {
  width: 100%;
  max-width: 60rem;
}

.field input#volume-id {
  min-width: 10rem;
  font-family: monospace;
  letter-spacing: 3px;
}

#download {
  background-color: var(--light-background-color);
  color: var(--text-color);
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.7rem;
}

#download:hover {
  opacity: 0.5;
}

#result {
  margin: 1rem 0;
  flex: 1;
}

.credits {
  margin: 1rem 0;
}

/* Code block */
code {
  background: var(--light-background-color);
  border-radius: 0.4rem;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;

  font-size: 1.4rem;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console,
    Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  text-indent: 0;
  border: none;
  white-space: pre-wrap;
}
